

.complete{
  text-decoration: line-through
}

.inProgress{
  text-decoration: none
}

.fa-trash, .fa-check-circle{
  color: #93394B;
  font-size: 20px;
  cursor: pointer;
  margin: 10px 15px 10px 15px;
}

button{
  background-color: #FAFAFA;
  color: #93394B;
  font-size: 20px;
  border: none;

}

.empty{
  padding-top: 35px;
  font-size: 22px;
}

.reflectionForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
}

#reflectionButton{
  cursor: pointer;
  font-size: 28px;
}

.reflection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 15px 5px 15px 5px;
  border-radius: 4px;
}

.reflection:nth-child(even){
  background-color: #d3dee7;
}

.reflection:nth-child(odd){
  background-color: #C7BBD9
}

.reflectionDate{
  margin-right: 25px;
}

.reflectionContent{
  text-align: left;
  width: 80%
}

.goalButtons{
  border: 1px solid #0A0908;
  border-radius: 3px;
  margin: 0;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  margin-left: 40px;
}

.goalButtons .fa-trash, .goalButtons .fa-check-circle{
  margin: 0;
}

.goalTitle{
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkContainer{
  background-color: #dce3e9;
  border-radius: 3px 0 0 3px;
}

.trashContainer, .checkContainer{
  padding: 7px 19px 7px 19px;
  width: 50%;
  height: 100%;
  cursor: pointer;
}