div.main{
  max-width: 98vw;
  min-height: 30vh;
  margin-top: 20px;
  padding-top: 20px;
}

div.main .wrapper {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.inputForm{
  width: 75%
}

.instructions{
  font-size: 18px;
}

.formField{
  padding: 0;
  align-content: left;
  text-align: left;
  display: flex;
  justify-content: left;
  margin-bottom: 5px;
  width: 100%;
}

.inputLabel{
  border: 1px solid #dce3e9;
  margin: 0;
  padding: 3px;
  border: 2px solid #dce3e9;
  border-right: 1px solid #dce3e9;
  border-radius: 2px 0 0 2px;
  background-color: #dce3e9;
  width: 40%
}

.inputField{
  border: none;
  margin: 0;
  padding: 3px;
  border: 2px solid #dce3e9;
  border-left: 1px solid #dce3e9;
  border-radius: 0 2px 2px 0;
  width: 60%;
}

.formContainer{
  display: flex;
  justify-content: center;
}

.addGoal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
  margin-top: 40px;
}

.blockLabel{
  display: block;
}

.addGoalInput{
  border: 1px solid #0A0908;
  border-radius: 2px;
  font-size: 16px;
  padding: 2px 0 2px 4px;
  margin-left: 4px;
}

.addGoalLabel{
  margin-right: 70px;
}

.textButton{
  background-color: #dce3e9;
  color: #05182a;
  border: 1px solid #0A0908; 
  font-family: 'Karla', sans-serif;
  border-radius: 3px;
  padding: 6px 12px 6px 12px;
  cursor: pointer;
}

.addGoalButton{
  cursor: pointer;
  font-size: 28px;
}

.login{
  margin-top: 7px;
}

.karla{
  font-family: 'Karla', sans-serif;
}

.signUpLink{
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #1c2a43;  
}

/* For loading cursor: */

.lds-grid {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  margin-top: 100px;
}
.lds-grid div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #0A0908;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 6px;
  left: 6px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 6px;
  left: 26px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 6px;
  left: 45px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 26px;
  left: 6px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 26px;
  left: 26px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 26px;
  left: 45px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 45px;
  left: 6px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 45px;
  left: 26px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
